body {
  text-align: center;
  margin-top: 50px;
  background-color: darkslateblue;
  color: white;
  font-family: Arial, sans-serif;
}

.box {
  width: 300px;
  padding: 25px;
  margin: 100px auto;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}


#progressBox {
  width: 100%;
  height: 20px;
  border: 2px solid white;
  margin: 15px auto;
  display: none;
}


#progressBar {
  height: 100%;
  width: 0%;
  background-color: limegreen;
  transition: width 0.5s;
}

  